/**
 * layout
 */

html
{
  padding: 0px 10px;
}

body
{
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

section
{
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

section p,
section li
{
  margin-top: 10px;
}

section li
{
  margin-left: 10px;
}

h1,
h2
{
  margin-left: -10px;
  margin-top: 10px;
}

#embed
{
  margin-top: 10px;
  
  background: #bbb;
  border: 1px solid #666;
  border-radius: 5px;
}

/**
 * decoration
 */

html
{
  font-family: sans-serif;
  font-size: 12pt;
  color: #444;
}

h1,
h2
{
  font-weight: bold;
}

h1
{
  font-size: 150%;
}

h2
{
  font-style: italic;
  font-size: 125%;
}

h1 > a, h2 > a
{
  text-decoration: none;
}

p > a
{
  border-bottom: #ccc 2px ridge;
}

a
{
  color: #444;
  text-decoration: none;
}

a:hover
{
  border-bottom: #888 2px ridge;
}

li
{
  line-height: 120%;
}
